---
import Heading from "../components/Heading.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BackToTopButton from "../components/BackToTopButton.astro";
import itf from "../assets/itf.png";
import astroth_square from "../assets/astroth_square.png";
import ak47 from "../assets/ak47.png";
import { Image } from "astro:assets";
---

<html lang="en">
  <BaseLayout pageTitle="About Us | Astroth">
    <BackToTopButton />
    <Heading text="ABOUT US" />
    <div
      class="px-4 my-4 mx-auto w-full lg:w-60% wipe-in"
    >
      <h2 class="pt-4">Astroth とは</h2>
      <div class="md:flex gap-4">
        <Image src={astroth_square} alt="" class="w-64 h-64" />
        <p class="font-shippori">
          「 Astroth 」 ( アストロット ) は、<br
            class="block 2xl:hidden"
          />主に同人ゲームの企画、制作を行うサークルです。<br
          />名前の由来は、悪魔「 Astaroth 」 ( アスタロト ) 、<br
            class="block 2xl:hidden"
          />宇宙「 Astro 」 ( アストロ ) 、<br
            class="block md:hidden 2xl:block"
          />真理「 truth 」 ( トゥルース ) です。<br />アスタロトは、<br
            class="block md:hidden lg:block 2xl:hidden"
          />過去から未来までを見通す悪魔とされています。<br
          />Astroth は、アスタロトの名を冠するサークルとして<br
            class="block 2xl:hidden"
          />相応しいように、<br
            class="hidden 2xl:block"
          />過去から現在、そして未来まで、<br
            class="block 2xl:hidden"
          /> " 宇宙の真理 " を追求し続けます。
        </p>
      </div>
    </div>
    <div
      class="px-4 my-4 mx-auto w-full lg:w-60% wipe-in"
    >
      <h2 class="pt-4">
        スローガン<br class="block md:hidden" />「 INTUIT THE FUTURE. 」
      </h2>
      <div class="md:flex gap-4">
        <Image src={itf} alt="" class="w-64 h-auto" />
        <p class="font-shippori">
          「 INTUIT THE FUTURE. 」 ( 未来を見抜け ! )<br
          />…… Astroth は、いち早く未来を見抜き、<br
            class="block 2xl:hidden"
          />それを作品として世に出す使命を背負っている。
        </p>
      </div>
    </div>
    <div
      class="px-4 mt-8 mx-auto my-4 w-full lg:w-60% wipe-in"
    >
      <h2 class="pt-4">代表あいさつ</h2>
      <div class="2xl:flex items-center gap-4">
        <Image src={ak47} alt="" class="w-64 h-64" />
        <div>
          <p class="font-shippori">
            Astroth の代表を務めている、<a href="https://twitter.com/ast_ak47" class="text-blue-400 hover:text-blue-500"
              > AK47 </a
            >です。<br />私が Astroth を設立したのは、ゲーム、<br
              class="block md:hidden"
            />それも " 美少女ゲーム "という媒体で、<br
              class="hidden md:block"
            />未来予想図を<br
              class="block md:hidden"
            />お届けしたいと考えたことが端緒です。<br
            />その理念をもっとも良く表しているのが、<br
              class="block md:hidden"
            />スローガンである、<br />「<span
              class="font-bold"> INTUIT THE FUTURE. </span
            >」です。<br />ご存知の通り、今の世界では、<br
              class="block md:hidden"
            />様々な問題が起こっています。<br
            />表現規制、戦争、移民、グローバル化、<br
              class="block md:hidden"
            />ナショナリズム、格差。<br />これらの問題を解き明かすのは、<br
              class="block md:hidden"
            />簡単ではありません。<br />深く思考した者にのみ、<br
              class="block md:hidden"
            />問題を解き明かす権利が与えられるのです。<br
            />しかしながら、この混迷の時代にあって、<br
            />皆様一人一人がそうした問題について<br
              class="block md:hidden"
            />考えなければならないことも事実です。<br />そこで、我々 Astroth は、<br
              class="block md:hidden"
            />そうした問題について思考する " きっかけ " <br
              class="block md:hidden"
            />となる、<br class="hidden md:block" /> " 未来予想図 " を提供します。<br
            />さて、自由について考えるには、<br class="block md:hidden" />いわゆる
            " 全年齢 " の表現では不足しています。<br
            />Astroth が提供する表現は、性愛に留まりません。<br
              class="block md:hidden"
            />時には、凄惨な表現も顔を出すでしょう。<br
            />人間は追い詰められてから、<br
              class="block md:hidden"
            />初めて当たり前を疑う生き物です。<br
            />そうした状況まで追い詰められた人間の<br class="block md:hidden" /> "
            狂気 " へ迫るには、<br class="hidden md:block" />いわゆる " 18 禁 "
            の表現を<br class="block md:hidden" />欠かすことなどできません。<br
            />ゆえに Astroth は、 18 禁というレーティングへの<br
              class="block md:hidden"
            />強いこだわりを持っています。<br />だからこそ、 " 美少女ゲーム "
            という<br class="block md:hidden" />媒体を選択したのです。<br
            />作中では、相異なる様々な自由を奪われた仲間たち<br
              class="block md:hidden"
            />が結集し、<br
              class="hidden md:block"
            />各々が少しだけ違う方向を向きながら、<br
              class="block md:hidden"
            />それでも懸命に明日を生き抜きます。<br />Astroth の作品が、<br
              class="block md:hidden"
            />明日を生き抜くべく戦う皆様の " 糧 " <br
              class="block md:hidden"
            />となれば幸いです。
            <br />
            <p class="font-shippori text-end">2025 年 09 月 13 日 AK47</p>
           </p>
        </div>
      </div>
    </div>
  </BaseLayout>
</html>

<script>
    import { animate, inView } from "motion";
    
      inView(".wipe-in", (info) => {
        animate(
          info,
          { opacity: [0, 1], y: [20, 0] },
          { duration: 0.8, easing: "ease-out" }
        );
      });
</script>