---
import { getCollection } from "astro:content";
import NewsLayout from "../../layouts/NewsLayout.astro";

export async function getStaticPaths() {
  const newsEntries = await getCollection("news");
  return newsEntries.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<NewsLayout pageTitle={post.data.title}>
  <h1>{post.data.title}</h1>
  <div class="flex gap-4">
    <p class="font-outfit">{post.data.date}</p>
    <p class="border-1 border-white border-style-solid px-1 font-outfit">
      {post.data.tag}
    </p>
  </div>
  <div class="news-content">
    <Content />
  </div>

  <style is:global> /* TODO(nukanoto): どうにかうまいことContentにだけstyleを適用したい */
    .news-content a {
      color: white;
      transition-duration: 300ms;
      text-decoration: underline;
    }

    .news-content a:hover {
      opacity: 0.8;
    }
  </style>
</NewsLayout>
