---
import { Image } from "astro:assets";
import astroth_horizontal from "../assets/astroth_horizontal.png";
import twitter from "../assets/twitter.svg";
import misskey from "../assets/misskey.svg";
import github from "../assets/github.png";

---

<hr class="w-full" />
<footer>
  <div class="grid grid-rows-1 grid-cols-3 mx-4 my-4 gap-4 divide-solid divide-y-none divide-x divide-white">
    <div class="p-4 my-auto">
      <Image src={astroth_horizontal} alt="" class="w-32" />
      <p class="font-outfit hidden lg:block">© 2025 Astroth All rights reserved.</p>
    </div>
    <div class="grid grid-cols-1 px-4">
      <p class="text-gray-5 text-xl font-outfit">PAGES</p>
      <a href="/" class="text-white font-outfit text-3 md:text-base tracking-wide font-outfit font-bold hover:text-gray-300 transition duration-300">TOP</a>
      <a href="/news" class="text-white font-outfit text-3 md:text-base tracking-wide font-outfit font-bold hover:text-gray-300 transition duration-300">NEWS</a>
      <a href="/products" class="text-white font-outfit text-3 md:text-base tracking-wide font-outfit font-bold hover:text-gray-300 transition duration-300">PRODUCTS</a>
      <a href="/about-us" class="text-white font-outfit text-3 md:text-base tracking-wide font-outfit font-bold hover:text-gray-300 transition duration-300">ABOUT US</a>
    </div>
    <div class="px-4">
      <p class="text-gray-5 text-xl font-outfit">SOCIAL</p>
      <div class="flex gap-4">
        <a href="https://twitter.com/Astroth_soft"><Image src={twitter} alt="" class="w-8 hover:opacity-80 transition duration-300" /></a>
        <a href="https://misskey.io/@astroth_soft"><Image src={misskey} alt="" class="w-8 hover:opacity-80 transition duration-300 invert-100" /></a>
        <a href="https://github.com/astroth-soft"><Image src={github} alt="" class="w-8 hover:opacity-80 transition duration-300" /></a>
      </div>
    </div>
  </div>
  <p class="block lg:hidden text-center font-outfit">© 2025 Astroth All rights reserved.</p>
</footer>