---
import { Image } from "astro:assets";
import astroth_logo from "../assets/astroth_logo.png"
import astroth_horizontal from "../assets/astroth_horizontal.png"

interface Props {
  linkNames: {href: string; name: string}[];
}

const { linkNames: additionalLinks } = Astro.props;
---

<header class="position-fixed flex justify-between w-full z-9999 py-2 m-0 backdrop-blur-[2px]">
  <div class="flex items-center gap-4">
    <a href="/" class="ml-4">
      <Image src={astroth_logo} alt="" class="block md:hidden p-2 w-8 hover:opacity-80" />
      <Image src={astroth_horizontal} alt="" class="hidden md:block p-2 w-30 hover:opacity-80 " />
    </a>
      <div class="flex gap-4">
        {
          additionalLinks.map((link) => (
            <a
              href={link.href}
              class="text-white text-base tracking-wide font-shippori font-bold hover:text-gray-300 transition duration-300 "
            >
              {link.name}
              </a>
          ))
        }
      </div>
    </div>
  </div>
</header>
