---
import BaseLayout from "../../layouts/BaseLayout.astro";
import FicusSlider from "../../components/FicusSlider.astro";
---

<BaseLayout pageTitle="イチジクの葉 | Astroth">
  <div class="flex justify-center">
    <img src="/assets/muvluv_key.jpg" class="w-full md:w-200 pt-36 px-10" />
  </div>

  <div class="mx-auto bg-dark-4 w-60% h-auto font-shippori">
    <h2
      class="font-lobster text-black text-stroke-1 text-stroke-pink-6 text-center text-4xl py-4 animate-pulse"
    >
      STORY
    </h2>
    <p class="text-center text-2xl font-bold mx-2">
      ――俺は作りたいんだ !<br />誰もが、自己を表現できる世界をっ…… !
    </p>
    <p class="text-center mx-2">
      あらゆる " 表現 " が消し去られた、西暦 2030 年の冬。<br
      />生きる目的を失った人間たちだったが、その中に " 表現 " 復活への希望の火が灯った。<br
      />主人公・睦吏は、女神に導かれ、睦吏を父と慕う人間とシカのハーフ・幹利や、<br
      />" 表現 " のある世界を望む同志・蛇羅、仁弖と出逢う。<br
      />彼らの " 美学 " は少しずつ違うが、目指す理想は同じ――
    </p>
    <p class="text-center text-2xl mx-2">
      すべての " 美 " が、 " 表現 " される世界だッ !
    </p>
    <p class="text-center pb-4 mx-2">
      これは――すべての人間に捧ぐ、 " 美学 " ノベルゲームである。
    </p>
  </div>

  <div class="mx-auto bg-dark-4 w-60% h-auto font-shippori">
    <h2
      class="font-lobster text-black text-stroke-1 text-stroke-cyan text-center text-4xl py-4 animate-pulse"
    >
      CHARACTERS
    </h2>
    <FicusSlider />
  </div>

  <div class="mx-auto bg-dark-4 w-60% h-auto font-shippori">
    <h2
      class="font-lobster text-black text-stroke-1 text-stroke-pink-6 text-center text-4xl py-4 animate-pulse"
    >
      PRODUCT
    </h2>
    <div class="p-4 grid md:grid-cols-3 sm:grid-cols-2 place-items-top">
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold m-0 text-center border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          タイトル
        </p>
        <p class="font-shippori font-bold text-3xl text-center m-0">
          イチジクの葉
        </p>
        <p class="font-shippori text-center">-The Leaf of Ficus Caricature-</p>
      </div>
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold text-center m-0 border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          ジャンル
        </p>
        <p class="font-shippori font-bold text-2xl text-center m-0">美学 ADV</p>
      </div>
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold text-center m-0 border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          ブランド
        </p>
        <p class="font-shippori font-bold text-2xl text-center m-0">Astroth</p>
      </div>
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold text-center m-0 border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          レーティング
        </p>
        <p class="font-shippori font-bold text-2xl text-center m-0">
          18 歳以上
        </p>
      </div>
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold text-center m-0 border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          発売予定日
        </p>
        <p class="font-shippori font-bold text-center m-0">
          パッケージ版: 2025 年 12 月 31 日
        </p>
        <p class="font-shippori font-bold text-center m-0">
          DL版: 2026 年 01 月 01 日
        </p>
      </div>
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold text-center m-0 border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          価格
        </p>
        <p class="font-shippori font-bold text-2xl text-center m-0">1,000 円</p>
      </div>
    </div>
  </div>

  <div class="mx-auto bg-dark-4 w-60% h-auto font-shippori">
    <h2
      class="font-lobster text-black text-stroke-1 text-stroke-cyan text-center text-4xl py-4 animate-pulse"
    >
      STAFF
    </h2>
    <div class="p-4 grid md:grid-cols-3 sm:grid-cols-2 gap-4 place-items-top">
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold m-0 text-center border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          原作
        </p>
        <p class="font-ibm text-2xl text-center m-0">涅槃明日太郎</p>
      </div>
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold text-center m-0 border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          脚本
        </p>
        <p class="font-ibm text-2xl text-center m-0">紅 坂 篤 樹</p>
      </div>
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold text-center m-0 border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          原画
        </p>
        <p class="font-ibm text-2xl text-center m-0">R O N</p>
        <p class="font-ibm text-2xl text-center m-0">七 星 ね ね</p>
        <p class="font-ibm text-2xl text-center m-0">かんぱーん</p>
      </div>
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold text-center m-0 border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          音楽
        </p>
        <p class="font-ibm text-2xl text-center m-0">彩 峰 冬 総</p>
      </div>
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold text-center m-0 border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          プログラム
        </p>
        <div class="grid grid-cols-2 grid-rows-3 gap-2">
          <p class="font-ibm text-center m-0">彩 峰 黎 斗</p>
          <p class="font-ibm text-center m-0">こ ん そ め</p>
          <p class="font-ibm text-center m-0">n a g i</p>
          <p class="font-ibm text-center m-0">nukanoto</p>
          <p class="font-ibm text-center m-0">キュビット</p>
          <p class="font-ibm text-center m-0">に ゐ つ</p>
        </div>
      </div>
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold text-center m-0 border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          スクリプト
        </p>
        <p class="font-ibm text-2xl text-center m-0">彩 峰 黎 斗</p>
      </div>
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold text-center m-0 border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          プロデューサー
        </p>
        <p class="font-ibm text-2xl text-center m-0">彩 峰 慶 次</p>
      </div>
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold text-center m-0 border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          監督
        </p>
        <p class="font-ibm text-2xl text-center m-0">彩 峰 鋼 一</p>
      </div>
      <div class="mb-6 md:mx-0 sm:mx-auto">
        <p
          class="font-ibm font-bold text-center m-0 border-style-solid border-x-0 border-t-0 border-gray-300 mx-2"
        >
          製作総指揮
        </p>
        <p class="font-ibm text-2xl text-center m-0">A K 4 7</p>
      </div>
    </div>
  </div>

  <!-- 
        <p class="text-3xl">ダウンロード購入ページ</p>
        <hr class="w-100 ml-0 mr-auto" />

        <div class="grid grid-rows-3 grid-cols-1 place-contents-center place-items-center w-fill">
          <div class="flex w-200 gap-20 pt-10 pb-10 m-4 bg-dark-9 p-5">
            <button type="button" class="w-50 h-20 bg-blue-500 ml-10 hover:bg-blue-700 text-white font-roundedibm font-bold text-3xl border-0 rounded">Booth</button>
            <div class="flex-col">
              <p class="text-2xl pb-5">Boothでの購入ページはこちら</p>
              <li class="text-xl">注意事項等</li>
            </div>
          </div>

          <div class="flex w-200 gap-20 pt-10 pb-10 bg-dark-9 p-5">
            <button type="button" class="w-50 h-20 bg-blue-500 ml-10 hover:bg-blue-700 text-white font-roundedibm font-bold text-3xl border-0 rounded">Fanza</button>
            <div class="flex-col">
            <p class="text-2xl pb-5">Fanzaでの購入ページはこちら</p>
            <li class="text-xl">注意事項等</li>
            </div>
          </div>

          <div class="flex w-200 gap-20 pt-10 pb-10 bg-dark-9 p-5">
            <button type="button" class="w-50 h-20 bg-blue-500 ml-10 hover:bg-blue-700 text-white font-roundedibm font-bold text-3xl border-0 rounded">DLsite</button>
            <div class="flex-col">
            <p class="text-2xl pb-5">DLsiteでの購入ページはこちら</p>
            <li class="text-xl">注意事項等</li>
            </div>
          </div>
        </div>
      </div>
    </div> -->
</BaseLayout>
