---
import Heading from "../../components/Heading.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BackToTopButton from "../../components/BackToTopButton.astro";
import RoundedButton from "../../components/RoundedButton.astro";
---

<BaseLayout pageTitle="Products | Astroth">
  <BackToTopButton />
  <Heading text="PRODUCTS" />

  <div
    class="mx-auto w-full lg:w-60% px-2 py-8"
  >
    <div class="mx-auto p-8 w-95% border-8 border-black border-style-solid">
      <p class="text-3xl font-ibm font-bold mt-0 mb-4">イチジクの葉</p>
      <div class="xl:flex gap-8">
        <div
          class="grid place-items-center place-content-center xl:place-content-end"
        >
          <img
            src="/assets/muvluv.jpg"
            class="w-80 h-80 border-1 rounded-lg border-black border-style-solid m-5"
          />
          <a href="/products/ficus">
            <RoundedButton isScaleOnHover={false} bgColor="bg-white" textColor="text-black" borderColor="border-black" hoverBgColor="hover:bg-black" hoverTextColor="hover:text-white" hoverBorderColor="hover:border-white">
              作品特設ページ
            </RoundedButton>
          </a>
        </div>
        <div class="lg:flex-col text-center lg:text-start">
          <p class="font-bold grid place-content-center text-center">
            ――俺は作りたいんだ！<br />誰もが、自己を表現できる<br
              class="block md:hidden"
            />世界をっ……！
          </p>
          <li class="pb-4">
            そこは、あらゆる " 表現 " の<br
              class="block md:hidden"
            />存在しなくなった世界。<br
            />&ensp;&emsp;主人公・睦吏は女神の導きで<br
              class="block md:hidden"
            /> " 美 " に目覚め、<br
            />&ensp;&emsp;すべての人が自己を表現できる世界を<br
              class="block md:hidden"
            />目指し、体制と戦う。
          </li>
          <li class="pb-4">
            エンタメとしてではなく、<br class="block md:hidden" /> " 表現 " そのものが持つ意味とは。<br
            />&ensp;&emsp;また、人類が追い求め続ける<br
              class="block md:hidden"
            /> " 美 " とは。<br />&ensp;&emsp; " 表現 " の本質に迫る、<br
              class="block md:hidden"
            /> " 美学 " ノベルゲーム。
          </li>
          <hr class="w-full" />
          <div class="flex justify-center items-center">
            <span class="i-ic-keyboard-arrow-down m-0 p-4"></span>
            <p class="grid place-content-center">ダウンロード購入はこちら</p>
          </div>
          <div class="grid grid-cols-3 grid-rows-1 place-content-center gap-2">
            <button
              disabled
              type="button"
              class="h-16 bg-black bg-opacity-0 text-white hover:bg-opacity-100 border-1 border-white rounded border-style-solid font-outfit"
              id="ficus_booth"
              >Coming <br class="block md:hidden" />Soon...</button
            >
            <button
              disabled
              type="button"
              class="h-16 bg-black bg-opacity-0 text-white hover:bg-opacity-100 border-1 border-white rounded border-style-solid font-outfit"
              id="ficus_fanza"
              >Coming <br class="block md:hidden" />Soon...</button
            >
            <button
              disabled
              type="button"
              class="h-16 bg-black bg-opacity-0 text-white hover:bg-opacity-100 border-1 border-white rounded border-style-solid font-outfit"
              id="ficus_dlsite"
              >Coming <br class="block md:hidden" />Soon...</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
